.authors {
    margin-top: 100px;
}

.authors .header {
    margin-top: 150px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.author-card img {
    height: 74px;
    width: 74px;
    border-radius: 37px;
    margin-right: 10px;
}

.author-card .h5 {
    margin: 0;
    font-size: 25px;
}

.author-card p {
    margin: 0;
    font-size: 15px;
}

.add-author {
    background-color: rgb(52, 223, 0);
    border: 2px solid green;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.add-author:hover {
    background-color: green;
}

.author-card-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.author-card-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    margin: 5px;
}

.delete-btn {
    right: 0;
    top: 0;
}

.edit-btn {
    right: 0;
    bottom: 0;
}

.delete-btn:hover {
    background-color: rgb(255, 75, 75);
}

.edit-btn:hover {
    background-color: rgb(255, 217, 0);
}

.author-card-btn svg {
    width: 30px;
    height: 30px;
}

.author-card {
    position: relative;
}